p{
    font-family: montserrat;
    text-align: center;
    margin: 0px 0px;
}

.text1{
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 20px;
}

.span{
    text-decoration: underline;
}

.text2{
      font-size: 25px;
}