.img1{
    width: 200px;
    border-radius: 10px;
    margin-right: 30px;
}

.img2{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 2px solid red;
    margin-right: 30px;
}

.img3{
    width: 150px;
    height: 150px;
    border-radius: 300px;
}