
.img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

button{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    width: 90px;
    height: 40px;
    margin-top: 6px;
}

.all{
    display: flex;
    border: none;
    box-shadow:1px 1px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 480px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message{
    font-size: 20px;
    border: none;
    margin-right: 90px;
    font-size: 17px;
}