.text{
    font-family: arial;
    color: black;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box1{
    display: block;
    padding: 15px 0px;
    padding-left: 20px;
    padding-right: 120px;
    background-color:rgb(242, 245, 245);
    border: none;
    font-size: 15px;
    margin-bottom: 8px;
}

.box2{
    padding: 15px 0px;
    padding-left: 20px;
    padding-right: 120px;
    background-color:rgb(242, 245, 245);
    border: none;
    font-size: 15px;
    display: block;
    margin-bottom: 40px;
}

.b1{
   background-color: black;
   color: white;
   border: none;
   padding: 15px 20px;
   font-size: 15px;
   margin-right: 20px;
}

.b2{
   background-color: rgb(242, 245, 245);
   color:black;
   border: none;
   padding: 15px 20px;
   font-size: 15px;
}
