 
 p{
    font-family:roboto;
 }
 
 .text{
        width: 350px;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .text1{
        margin-bottom: 20px;
        margin-top: 0px;
        color:rgb(96, 96, 96);
    }

    .text2{
        color: rgb(96, 96, 96);
        margin-bottom: 18px;
        margin-top: 0px;
    }

    .text3{
        width: 300px;
        color: rgb(96, 96, 96);
        font-size: 15px;
        line-height: 24px;

    }

    .text4{
        text-align: center;
        background-color: rgb(227, 65, 64);
        padding: 19px 0px;
        color: white;
        margin-top: 100px;
        font-size: 20px;
    }

    .shopnow:hover{
        text-decoration: underline;
        cursor: pointer;
    }