.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(228, 228, 228);
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    flex: 1;
    margin-right: 35px;
    margin-left: 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-section{
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo{
    height: 20px;
}


.search-bar{
   flex: 1;
   height: 36px; 
   padding-left: 10px;
   font-size: 16px;
   border: 1px solid rgb(202, 202, 202);
   border-radius: 2px;
   box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
   width: 0;
}

.search-bar::placeholder{
    font-family: roboto, arial;
    font-size: 16px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}

.search-button{
    height: 39px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(202, 202, 202);
    margin-left: -1px;
    margin-right: 10px;
}


.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-search-icon{
 height: 24px;
 margin-top: 4px;
}

.upload-icon{
    height: 24px;
}

.youtube-app-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}