

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;    
}

.video-preview{
    font-family: roboto,arial; 
}

.thumbnail{
    margin-bottom: 10px;
}

.information{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.thumbnail1{
    width: 100%;
}

.profile-pic1{
    width: 40px;
    border-radius: 20px;
}

.title{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}


.name{
    margin-bottom: 4px;
    color: rgb(96,96,96);
    font-size: 12px;
}

.state{
    margin-top: 0px;
    font-size: 12px;
    color: rgb(96,96,96);
}

